# --- Системні файли Windows (сміття) ---
Thumbs.db
Desktop.ini

# --- Налаштування VS Code (локальні налаштування не потрібні в репозиторії) ---
.vscode/

# --- Логи (журнали помилок) ---
*.log

Сучасня пекарня.fig